body {
  font-family: "Merriweather", serif, "Inter", sans-serif;
  margin: 0;
  padding: 0;
  margin: 15px 50px;
}

.banner {
  background-image: url("../assets/Banner\ Image.png");
  background-size: contain;
  background-repeat: no-repeat;
  /* height: 800px; */
}

.banner-content {
  width: 50%;
  margin: 0 auto;
  padding: 10% 10%;
  color: #fff;
}

.banner-subtitle {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 0;
}

.banner-title {
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  align-items: center;
  margin-top: 10px;
}

/* sale content goes here */

.sale-box {
  display: flex;
  flex-direction: column;
  /* font-family: Inter; */
  align-items: center;
  margin-top: 100px;
}

.sale-offer {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
}

.sale-text {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
}

.categories {
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}

.sale-image {
  width: 50%;
}

/* party section here */

.party {
  display: flex;
  flex-direction: row;
  background-image: url("../assets/party.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 10%;
  height: 600px;
  padding-left: 10%;
}

.party-title {
  width: 100%;
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  /* font-style: normal; */
  font-weight: 900;
  /* line-height: 88px; 137.5% */
  letter-spacing: 7.04px;
}

.party-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
}

.join {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.new-year {
  margin-left: auto;
  width: 60%;
  height: 70%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 10%;
}

.address {
  background: linear-gradient(#ff00001f, #ff000000);
  font-family: "Inter", sans-serif;
  height: 500px;
  display: flex;
  flex-direction: column;
  font-size: 32px;
  font-weight:200;
  margin-top: 10%;
  padding: 5% 15%;
  text-transform: capitalize;
  text-align: center;
  /* border */
}

.place {
    margin-bottom: 0;
}

.join-button {
    background-color: #f00;
    border: none;
    padding: 15px 30px;
    color: #fff;
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 700;
    margin-top: 5%;
    width: 30%;
    height: 15%;
    align-self: center;
    border-radius: 10px;
}
